/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

@import url("https://fonts.googleapis.com/css2?family=Yesteryear&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes color-foreground-rotate {
  0% {
    color: #3556e3;
  }

  20% {
    color: #1c9b40;
  }

  40% {
    color: #ff9e29;
  }

  60% {
    color: #e01e1e;
  }

  80% {
    color: #ae2af4;
  }

  100% {
    color: #3556e3;
  }
}

.special {
  font-family: Yesteryear, cursive;
  animation: color-foreground-rotate 2s linear infinite;
}

.fade-top-bottom {
  mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
}
