@import 'node_modules/bootstrap/scss/bootstrap';

@keyframes color-foreground-rotate {
  0% {
    color: #3556e3;
  }
  20% {
    color: #1c9b40;
  }
  40% {
    color: #ff9e29;
  }
  60% {
    color: #e01e1e;
  }
  80% {
    color: #ae2af4;
  }
  100% {
    color: #3556e3;
  }
}

.special {
  animation: color-foreground-rotate 2s linear infinite;
}

.hover:hover {
  border-color: $primary;
}
