.topper {
  height: 100vh;
  padding-top: 40vh;
  background: #0072ff;
  background: linear-gradient(90deg, #00c6ff 0%, #0072ff 100%);
}
.header {
  padding: 2rem 2rem
  background: #0072ff;
  background: linear-gradient(90deg, #00c6ff 0%, #0072ff 100%);
}
.bottomer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.fancy {
  font-family: "HelveticaNeue-Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.chevron {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.featurette-divider {
  margin: 4rem 0;
}

section {
  margin-bottom: 4rem;
}
