<div class="d-flex gap-3 mb-4">
  <a href="https://github.com/charlesfries" class="link-dark">
    <FaIcon @icon="github" @prefix="fab" @size="xl" />
  </a>
  <a href="https://www.linkedin.com/in/charlesfries" class="link-dark">
    <FaIcon @icon="linkedin" @prefix="fab" @size="xl" />
  </a>
  <a href="https://twitter.com/charlesfries" class="link-dark">
    <FaIcon @icon="twitter" @prefix="fab" @size="xl" />
  </a>
  <a href="https://www.instagram.com/charlesfries" class="link-dark">
    <FaIcon @icon="instagram" @prefix="fab" @size="xl" />
  </a>
  <a href="mailto:me@charlesfri.es" class="link-dark">
    <FaIcon @icon="envelope" @size="xl" />
  </a>
</div>