<select
  class='form-select w-auto mb-3'
  aria-label={{t 'locale'}}
  {{on 'change' this.setLocale}}
>
  <option value='en-us'>English</option>
  <option value='zh-cn'>中文</option>
  <option value='es-es'>Español</option>
  <option value='fr-fr'>Français</option>
  <option value='it-it'>Italiano</option>
</select>