<div class='row row-cols-3 g-4 mb-5'>
  {{#each @repositories as |repository|}}
    <div class='col'>
      <Bs::Card as |card|>
        <card.body>
          <Repository @repository={{repository}} />
        </card.body>
      </Bs::Card>
    </div>
  {{/each}}
</div>