<p>
  <img
    alt="Ember"
    src="https://img.shields.io/badge/-Ember-e04e39?style=flat-square&logo=emberdotjs&logoColor=white"
  />
  <img
    alt="Express"
    src="https://img.shields.io/badge/-Express-259dff?style=flat-square&logo=express&logoColor=white"
  />
  <img
    alt="Nodejs"
    src="https://img.shields.io/badge/-Nodejs-43853d?style=flat-square&logo=Node.js&logoColor=white"
  />
  <img
    alt="JavaScript"
    src="https://img.shields.io/badge/-JavaScript-f7df1e?style=flat-square&logo=javascript&logoColor=white"
  />
  <img
    alt="TypeScript"
    src="https://img.shields.io/badge/-TypeScript-007ACC?style=flat-square&logo=typescript&logoColor=white"
  />
  <img
    alt="Swift"
    src="https://img.shields.io/badge/-Swift-F05138?style=flat-square&logo=swift&logoColor=white"
  />
  <img
    alt="Rust"
    src="https://img.shields.io/badge/-Rust-F74C00?style=flat-square&logo=rust&logoColor=white"
  />
  <img
    alt="Bootstrap"
    src="https://img.shields.io/badge/-Bootstrap-7952B3?style=flat-square&logo=bootstrap&logoColor=white"
  />
  <img
    alt="Sass"
    src="https://img.shields.io/badge/-Sass-CC6699?style=flat-square&logo=sass&logoColor=white"
  />
  <img
    alt="HTML5"
    src="https://img.shields.io/badge/-HTML5-E34F26?style=flat-square&logo=html5&logoColor=white"
  />
  <img
    alt="git"
    src="https://img.shields.io/badge/-Git-F05032?style=flat-square&logo=git&logoColor=white"
  />
  <img
    alt="github actions"
    src="https://img.shields.io/badge/-Github_Actions-2088FF?style=flat-square&logo=github-actions&logoColor=white"
  />
  <img
    alt="Netlify"
    src="https://img.shields.io/badge/-Netlify-30C8C9?style=flat-square&logo=netlify&logoColor=white"
  />
  <img
    alt="Heroku"
    src="https://img.shields.io/badge/-Heroku-430098?style=flat-square&logo=heroku&logoColor=white"
  />
  <img
    alt="Google Cloud Platform"
    src="https://img.shields.io/badge/-Google_Cloud_Platform-1a73e8?style=flat-square&logo=google-cloud&logoColor=white"
  />
  <img
    alt="VSCode"
    src="https://img.shields.io/badge/-VSCode-0066B8?style=flat-square&logo=visualstudiocode&logoColor=white"
  />
  <img
    alt="Xcode"
    src="https://img.shields.io/badge/-Xcode-1890E6?style=flat-square&logo=xcode&logoColor=white"
  />
  <img
    alt="Insomnia"
    src="https://img.shields.io/badge/-Insomnia-5849BE?style=flat-square&logo=insomnia&logoColor=white"
  />
  <img
    alt="Prettier"
    src="https://img.shields.io/badge/-Prettier-F7B93E?style=flat-square&logo=prettier&logoColor=white"
  />
  <img
    alt="npm"
    src="https://img.shields.io/badge/-NPM-CB3837?style=flat-square&logo=npm&logoColor=white"
  />
  <img
    alt="Webpack"
    src="https://img.shields.io/badge/-Webpack-8DD6F9?style=flat-square&logo=webpack&logoColor=white"
  />
  <img
    alt="Sentry"
    src="https://img.shields.io/badge/-Sentry-301A38?style=flat-square&logo=sentry&logoColor=white"
  />
  <img
    alt="Percy"
    src="https://img.shields.io/badge/-Percy-B766BF?style=flat-square&logo=percy&logoColor=white"
  />
  <img
    alt="Algolia"
    src="https://img.shields.io/badge/-Algolia-5468FF?style=flat-square&logo=algolia&logoColor=white"
  />
  <img
    alt="Stripe"
    src="https://img.shields.io/badge/-Stripe-645CFF?style=flat-square&logo=stripe&logoColor=white"
  />
  <img
    alt="iOS"
    src="https://img.shields.io/badge/-iOS-000000?style=flat-square&logo=ios&logoColor=white"
  />
  <img
    alt="macOS"
    src="https://img.shields.io/badge/-macOS-000000?style=flat-square&logo=macos&logoColor=white"
  />
  <img
    alt="Ubuntu"
    src="https://img.shields.io/badge/-Ubuntu-E95420?style=flat-square&logo=ubuntu&logoColor=white"
  />
</p>