<div class='container py-5'>
  <header class='row justify-content-between mb-5'>
    <div class='col-lg-6 col-md-7 col-sm-8 col-10'>
      <Heading />
      <Locale />
      <Description />
      <Contact />
      <Skills />
    </div>
    <div class='col-2'>
      <Avatar />
    </div>
  </header>
  {{outlet}}
</div>