<div class="row" id="particles">
	<div class="col-3">
	</div>
	<div class="col">
		<section class="hook">
			<h3>Looking to build a <b>visual tool</b> for your product or business?</h3>
			<h3>Say, graphical UI for <b>designing window frames</b>.</h3>
			<h3>Or UI editor for customers to <b>try on outfits right in the browser</b>.</h3>
			<h3>How about automating your business workflow with a <b>custom CAD</b>?</h3>
			<h3>I can help you with that.</h3>
		</section>
		<section class="me">
			<img src="photo.jpg" alt="Photo" class="rounded-circle">
			<h1 class="text-muted">Charles Fries</h1>
		</section>



	</div>
	<div class="col-3">
	</div>
</div>

{{outlet}}
