<Subheading />
<Toolbar @sort={{this.sort}} @onRefresh={{this.refresh}} />
<Repositories @repositories={{this.repositories}} />
<a
  class="btn btn-outline-primary"
  href="https://github.com/charlesfries"
  role="button"
>
  {{t "more"}}
</a>