<div class='d-flex justify-content-between'>
  <h3>Projects</h3>
  <div>
    <div class='btn-group btn-group-sm' role='group'>
      <a
        href='#'
        tabindex='-1'
        class='btn btn-outline-secondary disabled placeholder'
      >All</a>
      <a
        href='#'
        tabindex='-1'
        class='btn btn-outline-secondary disabled placeholder'
      >Originals</a>
      <a
        href='#'
        tabindex='-1'
        class='btn btn-outline-secondary disabled placeholder'
      >Forks</a>
    </div>
  </div>
</div>

<div class='row row-cols-3'>
  <div class='col'>
    <p class='card-text placeholder-glow'>
      <span class='placeholder col-7'></span>
      <span class='placeholder col-4'></span>
      <span class='placeholder col-4'></span>
      <span class='placeholder col-6'></span>
      <span class='placeholder col-8'></span>
    </p>
  </div>
  <div class='col'>
    <p class='card-text placeholder-glow'>
      <span class='placeholder col-7'></span>
      <span class='placeholder col-4'></span>
      <span class='placeholder col-4'></span>
      <span class='placeholder col-6'></span>
      <span class='placeholder col-8'></span>
    </p>
  </div>
  <div class='col'>
    <p class='card-text placeholder-glow'>
      <span class='placeholder col-7'></span>
      <span class='placeholder col-4'></span>
      <span class='placeholder col-4'></span>
      <span class='placeholder col-6'></span>
      <span class='placeholder col-8'></span>
    </p>
  </div>
</div>