<Subheading />
<Toolbar @disabled={{true}} @sort="updated" @onRefresh={{fn (mut this.xyz)}} />
<div class="row row-cols-md-3 row-cols-sm-2 row-cols-1 g-3 mb-3">
  <Placeholder />
  <Placeholder />
  <Placeholder />
  <Placeholder />
  <Placeholder />
  <Placeholder />
  <Placeholder />
  <Placeholder />
  <Placeholder />
</div>