<div class='d-flex justify-content-between mb-3'>
  <h3 class='mb-0'>Projects</h3>
  <div>
    <Bs::Toolbar @size='sm' as |toolbar|>
      <toolbar.group class='me-2' as |group|>
        <group.button>
          <FaIcon @icon='redo' />
        </group.button>
      </toolbar.group>
      <toolbar.group class='me-2' as |group|>
        <group.button {{dropdown}}>updated</group.button>
        <Bs::Dropdown>
          <LinkTo @query={{hash sort='created'}} class='dropdown-item'>
            Created Date
          </LinkTo>
          <LinkTo @query={{hash sort='updated'}} class='dropdown-item'>
            Updated Date
          </LinkTo>
          <LinkTo @query={{hash sort='stars'}} class='dropdown-item'>
            Stars
          </LinkTo>
        </Bs::Dropdown>
      </toolbar.group>
      <toolbar.group class='me-2'>
        <a
          href='#'
          tabindex='-1'
          class='btn btn-outline-secondary disabled placeholder'
        ><FaIcon @icon='sort-amount-down' /></a>
        <a
          href='#'
          tabindex='-1'
          class='btn btn-outline-secondary disabled placeholder'
        ><FaIcon @icon='sort-amount-up' /></a>
      </toolbar.group>
      <toolbar.group>
        <a
          href='#'
          tabindex='-1'
          class='btn btn-outline-secondary disabled placeholder'
        >All</a>
        <a
          href='#'
          tabindex='-1'
          class='btn btn-outline-secondary disabled placeholder'
        >Sources</a>
        <a
          href='#'
          tabindex='-1'
          class='btn btn-outline-secondary disabled placeholder'
        >Forks</a>
      </toolbar.group>
    </Bs::Toolbar>
  </div>
</div>

<div class='row row-cols-3 g-4 mb-5'>
  <Placeholder />
  <Placeholder />
  <Placeholder />
  <Placeholder />
  <Placeholder />
  <Placeholder />
  <Placeholder />
  <Placeholder />
  <Placeholder />
</div>